.Main-Text{
  background-image: url("/img/farmhouse.png");
  background-repeat:no-repeat;
  background-size:cover;
  width: 100%;
  position: absolute;
  height:50%;
  margin: auto;
  text-align: center;

}
.home-nav-row{
  margin-left: -30px;
  margin-right: -30px;
}
.Home-nav{
margin: 0;
width:100%;
}
.inner{
position: relative;
 top: 10%;
 left: 0%;
 font-size: 1.5em;
 color: #E30022;
}

.selling{
position: relative;
 margin-right:auto!important;
  margin-left:auto!important;
 font-size: 1.5em;
 color: black;
 max-width:200px;
 margin-top:80px;
}
.sellpic{
	position: fixed;
	top: 60%;
	left: 12%;
 background-image:url("/img/savings.png");
 background-size:cover;
 width:75%;
 height:55%;


}
body{
  background-color: #FBFBFB;
}
.houseinfo p{
  padding-left: 1em;

}
.homecard .link{
  color: white !important;
  text-decoration: none !important;
}
.homecard h2{
  padding-left: .5em;
}
.homecard img{
  border-radius:.25em .25em 0px 0px;
  }
.homecard {
  position:relative;
  width:100%;
  max-width:360px;
  background-color: black;
  overflow-wrap:break-word;
  word-wrap:break-word;
  color: white;
  border-radius:.25em .25em .25em .25em;
  width: 16.5em;
  height: 21.5em;
  margin-bottom: 1em;
  margin-left: 2.5em;
  margin-right:0em;
  overflow:auto;
}
.card-container{
 position:relative;
  width:100%;
  max-width:360px;
  text-align: left;
  width: 19.5em;
  height: 21.5em;
}
.card-container img{
display:block;
width:100%;
height: 190px;
}
.card-container:hover {
  cursor: pointer;
  border: solid .00075em #FC5185;
  transition: border-width 0.615s;
  border-radius:.25em .25em .25em .25em;
}
.Navbar {
  background-color: black;
  color:white;
  padding-left:0;
  width: 100%;
  display: table;
}
.homebutton button{
  background-color:black !important; /* Green */
  border: none;
  color: red;
  padding: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align:middle;
  font-size: 19px;
  outline:none;
}
.filters-button{
  display:inline-block;
  vertical-align:middle;
}
.filters-button button{
  vertical-align: middle;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 19px;
  padding: none;
  outline:none;
}
.signin-button button{
  color: #399bff !important;
  background-color: black;
  border: none;
  font-size: 19px;
  vertical-align:middle;
  outline:none;
}

.Navbar .filters{
  display:inline-block;
  vertical-align: middle;
}
.navigation label{
  margin-bottom:0;
  padding-top:3px;
}
.homevalue{
  
  background:none;
  color:white;
  border:0;
border-bottom:1px solid grey;
}
.filtervalue{
  background:none;
  color:white;
  border:none;
  padding:0 7px 0px 0px;
}
.filtervalue:hover {
  color:#E30022;
  text-decoration:underline grey;
  }
.gogl-map{
  padding-left: 0;
}
.selling{
  background-color: white;
  margin-right:15em;
  border-radius:.25em;
}
.navigation{
  font-size:16px;
}
.google-text {
font-size: 16px;
text-align: center;
}
.extrafilters{
padding:5px;
border:0;
border-bottom:1px solid grey;
border-radius:3px;
color:white;
background:none;
border-color:grey;
}
.dropdown{
  color:white;
  margin:0 auto;
  background:black;
  border-radius: 0px 0px 5px 5px;
  padding:15px 0px;
  border:1px solid grey;
}
.filterblock{
  display:block;
}
.closefilters{
border:0;
color:white;
background:none;
border-color:grey;
}
.closefilters:hover{
border-bottom:1px solid grey;
border-radius:3px;
color:#E30022;
}
.selectsort{
  -moz-appearance: none;
  -webkit-appearance: none;
  background:none;
  color:white;
  border:0;
  padding-right:7px;
}
.selectsort:hover{
  color: red;
  cursor:pointer;
  border-bottom:1px solid grey;
}
.navbar-column{
  padding:0;
}
.signin-row{
  width:700px !important;
}
.signin-background .Navbar{
  width:100%;
}
.signin-background{
  top: 0;
  left: 0;      
  bottom: 0;      
  right: 0;      
  position: absolute;
  background-color:#FCFCFC;
  background-image: url('/img/frontdoor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  
}
.signin-form{

  width:360px;
  text-align:center;
}
.signin-form .inner-signin{
  margin-top:18em;
  background:black;
  color:white;
  border-radius:1em;
}
.inner-signin .email{
padding:0 0 0 27px;
}
.signin-form button{
border:none;
background:none;
color:white;
}
.signin-form button:hover{
color:#399bff;
text-decoration: underline;
  }
.loginSubmit{
  border: 1px solid white !important;
  border-radius:3px;
}
.loginSubmit:hover{
  text-decoration: none !important;
}
.signupSubmit{
  border: 1px solid white !important;
  border-radius:3px;
}
.signupSubmit:hover{
  text-decoration: none !important;
}
.account-info p{
  font-size:23px;
}
.account-info .account-options{
  text-align: center;
  font-size:19px;
}
.account-info .signin-message{
margin-top: 20px;
margin-bottom: 20px;
}
.account-info .favorites-icon{
  color:#FFCB05;
}
.account-info .settings-group{
  margin-top:20px;
  margin-bottom:20px;
}
.account-info .settings-icon{
  color:grey;
}
.details-page .Navbar{
  padding-right:7.5px;
}
.details-page img{
  width: 665px;
  height:440px;
}
.details-page .info{
display: flex !important;
}
.details-page .info p{
  margin-right: 5px;
}
.details-page .info span{
color:darkgrey;
}
.details-page .description{
  width: 50%;
  color:grey;
  font-size: 18px;
}
.details-page .btn-warning{
  display: flex;
  text-align:center;
  height:27px;
  margin-left:19rem;
}
.details-page .fa-star-o{
  color:white !important;
  padding: 0px;
  margin:0;
  align-content:center;
  font-size:20px;
}
.details-page .fa-star{
  color:white !important;
  padding: 0px;
  margin:0;
  align-content:center;
  font-size:20px;
}